body {
  line-height: 2;
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin-top: 0;
  margin-bottom: 10px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25
}

blockquote {
  border-left: 2px solid #ccc;
  padding-left: 15px;
}

blockquote p {
  font-size: 0.9em;
}

/* Flex layout */

.main-content {
  padding-top: 5em;
}

/* Search Results */

.search-results-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-results-list li {
  border-bottom: 1px solid #eee;
  margin: 0 0 1.5rem;
  padding: 0 0 1.5rem;
}

.search-result-url {
  margin-bottom: 0.25rem;
  font-size: 80%;
}

.search-result-excerpt {
  margin-bottom: 0;
}
